
#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    font-size: 30px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    padding: 15px;
    margin: 4px;
    text-transform: uppercase;
    background-color: rgb(148, 144, 144);
    border-radius: 5px;
}

.game-buttons { 
   font-size: 20px;
   margin: 10px;
   background-color: grey;
   padding: 15px;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
   
}

.game-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

